<div ng-repeat="barrelInfo in vm.listBarrelInfo" barrel-chart-item>
<div class="card-pf-body">
<div class="row">
<!-- Column 1 -->
<div class="col-xs-12 col-sm-2 col-md-4">
<h3 class="card-pf-subtitle">{{barrelInfo.beer_name}}</h3>
<p class="card-pf-utilization-details">
<!-- <span class="card-pf-utilization-card-details-count">{{vm.barrelConsumption.remaining}}</span> -->
<span class="card-pf-utilization-card-details-description">
  <span class="card-pf-utilization-card-details-line-1">{{barrelInfo.beer_descript}}</span>
<!-- <span class="card-pf-utilization-card-details-line-1">Remaining</span> -->
<!-- <span class="card-pf-utilization-card-details-line-2">of {{barrelInfo.capacity}} Litres</span> -->
</span>
</p>
<!-- <button class='small' ng-click='vm.fillBarrel(barrelInfo.barrel_id,barrelInfo.capacity)'>Refill</button>
<div class="chart-pf-donut" >Loading ...</div>
<div class="chart-pf-sparkline">Loading ...</div> -->
</div>
<!-- End Column 1 -->

<!-- Column 2 -->
<div class="col-xs-12 col-sm-2 col-md-4">
<h3 class="card-pf-subtitle">Current Stock</h3>
<p class="card-pf-utilization-details">
<span class="card-pf-utilization-card-details-description">
<span class="card-pf-utilization-card-details-line-1"></span>
</span>
</p>
<!-- <div class="gauge-chart">Loading ...</div> -->
<button class='small' ng-click='vm.fillBarrel(barrelInfo.barrel_id,barrelInfo.capacity)'>Refill</button>
<div class="chart-pf-donut" >Loading ...</div>
<div class="chart-pf-sparkline">Loading ...</div>
</div>
<!-- End Column 2 -->

<!-- Column 3 -->
<div class="col-xs-12 col-sm-2 col-md-4">
<h3 class="card-pf-subtitle">Top Drinkers</h3>
<p class="card-pf-utilization-details">
<span class="card-pf-utilization-card-details-description">
<span class="card-pf-utilization-card-details-line-1"></span>
</span>
</p>
<div class="hbar-chart">Loading ...</div>
</div>
<!-- End Column 3 -->
</div>
</div>
</div>
