<nav class="navbar navbar-default navbar-pf" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">
      <table>
        <tr>
          <td><img src="images/RedHat.svg" /></td>
          <td><h1 class="md-title">BREWERY DEMO</h1></td>
        </tr>
      </table>
    </a>
  </div>
  <div class="collapse navbar-collapse navbar-collapse-1">
    <ul class="nav navbar-nav navbar-utility">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <span class="pficon pficon-user"></span>
          {{username}} <b class="caret"></b>
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-primary">
      <li ng-class="{ active: vm.isActive('/')}">
        <a ng-href="#/" class="active">Brewery Home</a>
      </li>
      <li ng-class="{ active: vm.isActive('/orders')}">
        <a ng-href="#/orders">Your Orders</a>
      </li>
    </ul>
  </div>
</nav>
