<div class="container-fluid container-cards-pf">

<!-- ROW CARD 2 -->
<div class="row row-cards-pf">
<div class="col-md-12">
<div class="card-pf card-pf-utilization">
  <div class="card-pf-body">
  <div class="row">


    <div class="container-fluid">
    <div class="list-group list-view-pf list-view-pf-view">

      <!-- orders LINE -->
      <div ng-repeat="order in vm.listOrders">
      <div class="list-group-item">
      <div class="list-view-pf-checkbox">
      <input type="checkbox">
      </div>
      <div class="list-view-pf-actions">
      <button class="btn btn-default">Action</button>
      <div class="dropdown pull-right dropdown-kebab-pf">
      <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <span class="fa fa-ellipsis-v"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Separated link</a></li>
      </ul>
      </div>

      </div>
      <div class="list-view-pf-main-info">
      <div class="list-view-pf-left">
        <span class="fa fa-glass list-view-pf-icon-md"></span>
      </div>
      <div class="list-view-pf-body">
        <div class="list-view-pf-description">
          <div class="list-group-item-heading">
            {{order.name}}
          </div>
          <div class="list-group-item-text">
            The following snippet of text is <a href="#">rendered as link text</a>.
          </div>
        </div>
        <div class="list-view-pf-additional-info">
          <div class="list-view-pf-additional-info-item">
            <span class="pficon pficon-info"></span>
            <strong>{{order.id}}</strong>
          </div>
          <div class="list-view-pf-additional-info-item">
            <span class="pficon pficon-user"></span>
            <strong>{{order.firstName}} {{order.lastName}}</strong>
          </div>
          <div class="list-view-pf-additional-info-item">
            <span class="pficon pficon-volume"></span>
            <strong>{{order.beerQuantity}}</strong>
          </div>
        </div>
      </div>
      </div>
      </div>
    </div>
      <!-- END BARREL LINE -->
    </div>
    <script>
    // Row Checkbox Selection
    $(document).ready(function () {
    $("input[type='checkbox']").change(function (e) {
    if ($(this).is(":checked")) {
      $(this).closest('.list-group-item').addClass("active");
    } else {
      $(this).closest('.list-group-item').removeClass("active");
    }
    });
    });
    </script>
    </div>
  </div>
</div>
</div>
</div>
</div>
<!-- END ROW CARD 2 -->



</div>
<script>
  $(document).ready(function() {
    // matchHeight the contents of each .card-pf and then the .card-pf itself
    $(".row-cards-pf > [class*='col'] > .card-pf .card-pf-title").matchHeight();
    $(".row-cards-pf > [class*='col'] > .card-pf > .card-pf-body").matchHeight();
    $(".row-cards-pf > [class*='col'] > .card-pf > .card-pf-footer").matchHeight();
    $(".row-cards-pf > [class*='col'] > .card-pf").matchHeight();

    // initialize tooltips
    $('[data-toggle="tooltip"]').tooltip();

    // Initialize the vertical navigation
    $().setupVerticalNavigation(true);
  });
</script>
